table {
    border-collapse:  collapse; /* セルの線を重ねる */
    table-layout: fixed;
    width: 100%;
}
 
tr:nth-child(odd) {
    background-color:  #ddd;    /* 背景色指定 */
}
 
th {
    padding: 5px 10px;          /* 余白指定 */
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;  

    
    
} 

.container {
    background: #eee;
    overflow: hidden;
    width: 100%;
    
    
}
